<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wong.upala.ai.mapper.TeacherMapper" >

    <!-- resultMap -->
    <resultMap id="resTeaMap" type="com.wong.upala.ai.entity.Teacher" >
        <id column="tea_id" property="teaId" jdbcType="INTEGER" javaType="Integer" />
        <result column="tea_name" property="teaName" jdbcType="VARCHAR" javaType="String" />
        <result column="tea_num" property="teaNum" jdbcType="VARCHAR" javaType="String" />
        <result column="tea_sex" property="teaSex" jdbcType="VARCHAR" javaType="String" />
        <result column="tea_phone" property="teaPhone" jdbcType="VARCHAR" javaType="String" />
        <result column="tea_position" property="teaPosition" jdbcType="VARCHAR" javaType="String" />
        <result column="tea_birthday" property="teaBirthday" jdbcType="DATE" javaType="date" />
        <result column="tea_in_date" property="teaInDate" jdbcType="DATE" javaType="date" />
        <result column="tea_create_date" property="teaCreateDate" jdbcType="TIMESTAMP" javaType="date" />
        <result column="tea_qq" property="teaQQ" jdbcType="VARCHAR" javaType="String" />
    </resultMap>

    <!-- parameterMap -->
    <parameterMap id="parTeaMap" type="com.wong.upala.ai.entity.Teacher" >
        <parameter property="teaId" jdbcType="INTEGER" javaType="Integer" />
        <parameter property="teaName" jdbcType="VARCHAR" javaType="String" />
        <parameter property="teaNum" jdbcType="VARCHAR" javaType="String" />
        <parameter property="teaSex" jdbcType="VARCHAR" javaType="String" />
        <parameter property="teaPhone" jdbcType="VARCHAR" javaType="String" />
        <parameter property="teaPosition" jdbcType="VARCHAR" javaType="String" />
        <parameter property="teaBirthday" jdbcType="DATE" javaType="date" />
        <parameter property="teaInDate" jdbcType="DATE" javaType="date" />
        <parameter property="teaCreateDate" jdbcType="TIMESTAMP" javaType="date" />
        <parameter property="teaQQ" jdbcType="VARCHAR" javaType="String" />
    </parameterMap>

    <!-- 查询教师 -->
    <select id="getTeachers" resultMap="resTeaMap" parameterType="int" >
        SELECT * FROM teacher LIMIT #{start}, #{limit}
    </select>

    <!-- 获取总记录数 -->
    <select id="getTotal" resultType="Integer" >
        SELECT COUNT(*) FROM teacher
    </select>

    <!-- key -->
    <sql id="teaKey" >
        <if test="teaNum != null and teaNum != ''" >
            tea_num,
        </if>
        <if test="teaName != null and teaName != ''" >
            tea_name,
        </if>
        <if test="teaSex != null and teaSex != ''" >
            tea_sex,
        </if>
        <if test="teaPhone != null and teaPhone != ''" >
            tea_phone,
        </if>
        <if test="teaPosition != null and teaPosition != ''" >
            tea_position,
        </if>
        <if test="teaBirthday != null" >
            tea_birthday,
        </if>
        <if test="teaInDate != null" >
            tea_in_date,
        </if>
        <if test="teaCreateDate != null" >
            tea_create_date,
        </if>
        <if test="teaQQ != null and teaQQ != ''" >
            tea_qq
        </if>
    </sql>
    <!-- value -->
    <sql id="teaValue" >
        <if test="teaNum != null and teaNum != ''" >
            #{teaNum},
        </if>
        <if test="teaName != null and teaName != ''" >
            #{teaName},
        </if>
        <if test="teaSex != null and teaSex != ''" >
            #{teaSex},
        </if>
        <if test="teaPhone != null and teaPhone != ''" >
            #{teaPhone},
        </if>
        <if test="teaPosition != null and teaPosition != ''" >
            #{teaPosition},
        </if>
        <if test="teaBirthday != null" >
            #{teaBirthday},
        </if>
        <if test="teaInDate != null" >
            #{teaInDate},
        </if>
        <if test="teaCreateDate != null" >
            #{teaCreateDate},
        </if>
        <if test="teaQQ != null and teaQQ != ''" >
            #{teaQQ}
        </if>
    </sql>
    <!-- 新增教师 -->
    <insert id="addTeacher" parameterMap="parTeaMap" useGeneratedKeys="true" keyProperty="teaId" >
        INSERT INTO teacher (<include refid="teaKey" />) VALUE (<include refid="teaValue" />)
    </insert>

    <select id="queryTeacher" parameterType="String" resultMap="resTeaMap" >
        SELECT * FROM teacher t WHERE
        <if test="teaNum != null and teaNum != ''" >
            t.tea_num = #{teaNum}
        </if>
    </select>

    <!-- 修改教师信息 -->
    <update id="updateTeacher" parameterMap="parTeaMap" useGeneratedKeys="true" keyProperty="teaId" >
        UPDATE teacher t
        <trim prefix="set" suffixOverrides="," >
            <if test="teaName != null and teaName != ''" >
                t.tea_name=#{teaName},
            </if>
            <if test="teaPhone != null and teaPhone != ''" >
                t.tea_phone=#{teaPhone},
            </if>
            <if test="teaSex != null and teaSex != ''" >
                t.tea_sex=#{teaSex},
            </if>
            <if test="teaPosition != null and teaPosition != ''" >
                t.tea_position=#{teaPosition}
            </if>
        </trim>
        WHERE
        <if test="teaNum != null and teaNum != ''" >
            t.tea_num = #{teaNum}
        </if>
    </update>

    <!-- 删除教师信息 -->
    <delete id="deleteTeacher" parameterType="String" >
        DELETE FROM teacher WHERE
        <if test="teaNum != null and teaNum != ''" >
            tea_num = #{teaNum}
        </if>
    </delete>

    <!-- 查询教师通过属性 -->
    <select id="queryTeaByColumn" parameterType="String" resultMap="resTeaMap" >
        SELECT * FROM teacher t
        <where>
            <if test="teaNum != null and teaNum != ''" >
                t.tea_num = #{teaNum}
            </if>
            <if test="teaName != null and teaName != ''" >
                AND t.tea_name = #{teaName}
            </if>
            <if test="teaPhone != null and teaPhone != ''" >
                AND t.tea_phone = #{teaPhone}
            </if>
            <if test="teaQQ != null and teaQQ != ''" >
                AND t.tea_qq = #{teaQQ}
            </if>
            <if test="teaPosition != null and teaPosition != ''" >
                AND t.tea_position = #{teaPosition}
            </if>
        </where>
    </select>

</mapper>
